.button{
  border-width: 0px;
}

.modal{
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.modal-card-body{
  background-color: #ffffff1f;
}
.modal-card-head{
  background-color: #f5f5f536;
  border-bottom: none;
}

.modal-background{
  background-color: rgba(10, 10, 10, 0.2);
}

.content{
  display: flex;
  justify-content: center;
}
.button {
  margin: 0 5px 0px 5px;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.pants-position{
  margin-top: -83px;
  position: relative;
  z-index: -1;
}


.head{
  margin-bottom: -8px;
  position: relative;
  z-index: -1;
}
